@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>University Of Epicodus</h1>
            <p></p>
        </div>
        <h3>What would you like to do?</h3>
        <a href="/new-student" class="btn btn-primary">Add Student</a>
        <a href="/new-course" class="btn btn-primary">Add Course</a>
        <a href="/view-students" class="btn btn-primary">View All Students</a>
        <a href="/view-courses" class="btn btn-primary">View All Courses</a>
        <a href="#" class="btn btn-primary">Build a ToDo List!</a>
    </div>
</div>